{% extends 'forum/base.html' %}

{% block content %}
<div class="post-delete">
  <h2>Удалить Пост:</h2><br>
  <arcticle class="post">
    <div class="post_container">
      <div class="post-header">
        <h2 class="post_title">{{ post }}</h2>
      </div>
      <div class="post-content">
        <div class="post-content_description">
          {% if post.content %}
            <p class="post_desctiption">{{ post.content }}</p>
          {% else %}
            <p class="post_desctiption">У этого поста нету описания :(</p>
          {% endif %}
        </div>
      </div>
      <div class="post-footer">
        <div class="post-footer_info">
          <div class="grade">
            <span>Like: {{ post.likes.count }}</span>
          </div>
          <div class="grade">
            <span>Dislike: {{ post.dislikes.count }}</span>
          </div>
          <span>Views: {{ post.views.count }}</span>
        </div>
        <div class="post-footer_date">
          <div class="create_time">Публикация: {{ post.create_time }}</div>
          <div class='post_author'>Автор: {{ post.author }}</div>
          <div>Редактирование: {{ post.update_time }}</div>
        </div>
      </div>
    </div>
  </arcticle>
  <form class="form" method="post">
      {% csrf_token %}
      <div>{{ form.non_field_errors }}</div>
      {% for f in form %}
      <div class="form_item addpage-form_item"><label class="form_label" for="{{ f.id_for_label }}">{{ f.label }}:</label><div class="form-input">{{ f }}</div></div>
      <div>{{ f.errors }}</div>
      {% endfor %}
      <button class="post_link" type="submit">Удалить</button>
  </form>
</div>
{% endblock content %}