{% extends 'forum/base.html' %} 
{% block content %}
<arcticle class="post">
  <div class="post_container">
    <div class="post-header">
      <h2 class="post_title">{{ post }}</h2>
    </div>
    {% if post.content %}
    <div class="post-content">
      <div class="post-content_description">
          <p class="post_desctiption">{{ post.content }}</p>          
      </div>
    </div>
    {% endif %}
    <div class="post-footer">
      <div class="post-footer_info">
        <div class="grade {% if request.user in post.likes.all %}post-l-active{% endif %}">
          {% if request.user.is_authenticated %}
          <form action="{% url 'like_post' post_id=post.id %}" method="post">
            {% csrf_token %}
            <button class="post-button button-l" type="submit">
              Like
            </button>
          </form>
          {% else %}
          <a class="post_like" href="{% url 'login' %}">Like</a>
          {% endif %}
          <span> {{ post.likes.count }}</span>
        </div>
        <div class="grade {% if request.user in post.dislikes.all %}post-l-active{% endif %}">
          {% if request.user.is_authenticated %}
          <form action="{% url 'dislike_post' post_id=post.id %}" method="post">
            {% csrf_token %}
            <button class="post-button button-l" type="submit">
              Dislike
            </button>
          </form>
          {% else %}
          <a class="post_dislike" href="{% url 'login' %}">Dislike</a>
          {% endif %}
          <span> {{ post.dislikes.count }}</span>
        </div>
        <span>views: {{ post.views.count }}</span>
      </div>
      <div class="post-footer_control">
        {% if request.user == post.author %}
        <a class="post_link" href={% url 'edit_post' post.id %}>Редактировать</a>
        <a class="post_link" href="{% url 'delete_post' post.id %}">Удалить пост</a>
        {% endif %}
      </div>
      <div class="post-footer_date">
        <div class="create_time">Публикация: {{ post.create_time }}</div>
        <div class='post_author'>Автор: {{ post.author }}</div>
        <div>Редактирование: {{ post.update_time }}</div>
      </div>
      <div class=></div>
    </div>
  </div>
</arcticle>
<section class="comments">
  {% if post.is_allow_comments %}
  <form class="comments_form" action="{% url 'post' post.id %}" method="post">
    {% csrf_token %}
    <div>{{ form.non_field_errors }}</div>
    {% for f in form %}
    <div>{{ f }}</div>
    <div>{{ f.errors }}</div>
    {% endfor %}
    {% if request.user.is_authenticated %}
    <button class="post_link" type="submit">Добавить</button>
    {% else %}
    <a class="post_link" class="comment_link" href={% url 'login' %}>С начало нужно авторизоваться</a>
    {% endif %}
  </form>
  <ul class="comments_list">
    {% for comment in comments %}
    <li class="comments_item">
      <arcticle class="comment">
        <div class="comment-header">
          <div>{{ comment.author }} → {{ comment.recipient }}:</div>  
        </div>
        <div class="comment-content">
          <p class="comment-content_text">{{ comment.content }}</p> 
        </div>
        <div class="comment-footer">
          <div class="comment-footer_info">
            <div class="grade {% if request.user in comment.likes.all %}comment-l-active{% endif %}">
              {% if request.user.is_authenticated %}
              <form action="{% url 'like_comment' comment_id=comment.id %}" method="post">
                {% csrf_token %}
                <button class="comment-button button-l" type="submit">
                  Like 
                </button>
              </form>
              {% else %}
              <a class="comment_like" href="{% url 'login' %}">Like</a>
              {% endif %}
              <span>{{ comment.likes.count }}</span>
            </div>
            <div class="grade {% if request.user in comment.dislikes.all %}comment-l-active{% endif %}">
              {% if request.user.is_authenticated %}
              <form action="{% url 'dislike_comment' comment_id=comment.id %}" method="post">
                {% csrf_token %}
                <button class="comment-button button-l" type="submit">
                  Dislike
                </button>
              </form>
              {% else %}
              <a class="comment_dislike" href="{% url 'login' %}">Dislike</a>
              {% endif %}
              <span> {{ comment.dislikes.count }}</span>
            </div>
          </div>
          {% if request.user == comment.author %}
          <div class="comment-footer_control">
            {% if request.user == comment.author %}
            <a class="post_link" href="{% url 'edit_comment' comment_id=comment.id %}">Редактировать</a>
            <a class="post_link" href="{% url 'delete_comment' comment_id=comment.id post_id=post.id %}">Удалить комментарий</a>
            {% endif %}
          </div>
          {% endif %}
          <div class="comment-footer_date">
            <div>Публикация: {{ comment.create_time }}</div>
            <div>Редактирование: {{ comment.update_time }}</div>
          </div>
        </div>
      </arcticle >
    </li>
    {% endfor %}
  </ul>
  {% else %}
  <p>Комментарии под данным постом не доступны:(</p>
  {% endif %}
</section>
{% endblock content %}
